.alert a{
    text-decoration: none;
}

.alert a:hover{
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    a{
        color:385898;
    }
  }
  
  @media (prefers-color-scheme: light) {
    a{
        color:0066CC;
    }
  }
