<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" prefixLanguageFilePath="" path="/error/500.html" responseMode="ExecuteURL" />
      <error statusCode="501" prefixLanguageFilePath="" path="/error/501.html" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/error/502.html" responseMode="ExecuteURL" />
      <error statusCode="503" path="/error/503.html" responseMode="ExecuteURL" />
      <error statusCode="401" prefixLanguageFilePath="" path="/error/401.html" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/error/403.html" responseMode="ExecuteURL" />
      <error statusCode="404" prefixLanguageFilePath="" path="/error/404.html" responseMode="ExecuteURL" />
      <error statusCode="405" prefixLanguageFilePath="" path="/error/405.html" responseMode="ExecuteURL" />
      <error statusCode="406" prefixLanguageFilePath="" path="/error/406.html" responseMode="ExecuteURL" />
      <error statusCode="412" prefixLanguageFilePath="" path="/error/412.html" responseMode="ExecuteURL" />
      <error statusCode="400" path="/error/400.html" responseMode="ExecuteURL" />
      <error statusCode="407" path="/error/407.html" responseMode="ExecuteURL" />
      <error statusCode="408" path="/error/408.html" responseMode="ExecuteURL" />
      <error statusCode="413" path="/error/413.html" responseMode="ExecuteURL" />
      <error statusCode="414" path="/error/414.html" responseMode="ExecuteURL" />
      <error statusCode="429" path="/error/429.html" responseMode="ExecuteURL" />
    </httpErrors>
    <defaultDocument>
      <files>
        <add value="index.php" />
      </files>
    </defaultDocument>
    <security>
      <authorization>
        <remove users="" roles="WSDrive" verbs="" />
        <add accessType="Allow" users="*" />
      </authorization>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
</configuration>