<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="ISAPI-dll" />
            <remove name="CGI-exe" />
        </handlers>
        <staticContent>
            <remove fileExtension=".dll.config" />
            <remove fileExtension=".dll" />
            <remove fileExtension=".exe.config" />
            <remove fileExtension=".exe" />
        </staticContent>
    </system.webServer>
</configuration>
