html, body{
    background-color: #f1f1f1;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:url(back.jpg); /* 画像のURLを指定       */
    background-size:contain;                 /* 画像のサイズを指定    */
    width:100%;                              /* 横幅のサイズを指定    */
    height:400px;  
    
}
#container{
    height: 100%;
}
#header{
    padding: 20px;
    background-color: #fff;
}
#header form{
    width: 1200px;
    margin: 0 auto;
}
#main_box{
    margin: 0 auto;
    width: 1200px;
  
    }
.movieBox {
       margin: 20px 0;
}
h1 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #333333;/*文字色*/
  background: #F1F1F1;/*背景色*/
  border-left: solid 5px #1A191F;/*左線*/
  border-bottom: solid 3px #1A191F;/*下線*/
}
}
cd {
        background-image:url("file:///c:/back.png");
}
category{
	
	display:none;
}

menubar {
	 }

contents {
margin-top: -50px; /* 固定ナビの高さ分のネガティブマージン */
padding-top: 50px; /* 打ち消し用のパディング */
}

.fnbtn {
  position: relative;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #008080;
  background: #ECECEC;
  transition: .4s;
}
scsh img{
	
	 width: 643px;
    height: auto;  /* ←縦横比を維持する高さを自動計算 */
}

icon img{
	
		 width: 120px;
    height: auto;  /* ←縦横比を維持する高さを自動計算 */

}

h4 img{
	
	 width: 634px;
    height: auto;  /* ←縦横比を維持する高さを自動計算 */
}

.fnbtn:hover {
  background: #00bcd4;
  color: white;
}
a.movieLink {
    display:block;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000000;
  }
 
a.movieLink:hover {
    border: 1px solid #4169E1;
    color: #4169E1;
}
 
.movieBox .thums {
    float: left;
    margin-right: 10px;
    width: 120px;
}
.movieBox .description {
    float:left;
    width: 1000px;
    word-break: break-all;
}